.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 750px;
    background-image: url('../../../assets/img/background.jpg');
    background-size: cover;
    background-repeat:no-repeat;background-image: url('../../../assets/img/background.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    color: var(--main-text-color);
}

.informacion {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--main-bg-color-t);
    padding: 20px;
    border-radius: 25px;
    width: 50%;
    height: auto;
    text-align: center;
}

.informacion h1 {
    font-family: 'Kings', cursive;
    font-size: 4rem;
}

.informacion p {
    font-size: 1.5rem;
}

.informacion a {
    text-decoration: none;
    color: lightgreen;
}
